<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>ToDo List</title>
  <link rel="stylesheet" href="main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <h1>TODO list</h1>
  
  <div id="app">
    <input type="text" v-model="addTodo" class="box22" placeholder="ToDoを入力">
    <button v-on:click="newTodo()" class="btn-square" id="btn-add">追加</button><hr>
    
    <div class="boxContainer">
        <div class="box" id="box1">
          <p><big>Pinned</big></p>
            <draggable tag="ul" :options="{group:'LISTS'}" :list="list.pinned">
              <li v-for="(item, index) in list.pinned" :key="`Pinned_${index}`">
                <input type="text" class="box22" v-model="item.name">
                <img v-on:click="delToDo(index, 'pinned')" src="./img/mark_batsu.png" alt="x" class="img">
              </li>
            </draggable>
        </div>
        <div class="box">
          <p><big>TODO</big></p>
            <draggable tag="ul" :options="{group:'LISTS'}" :list="list.normal">
              <li v-for="(item, index) in list.normal" :key="`Normal_${index}`">
                <input type="text" class="box22" v-model="item.name">
                <img v-on:click="delToDo(index, 'normal')" src="./img/mark_batsu.png" alt="x" class="img">
              </li>
            </draggable>
        </div>
        <div class="box" id="box2">
          <p><big>finished</big></p> 
            <draggable tag="ul" :options="{group:'LISTS'}" :list="list.finished">
              <li v-for="(item, index) in list.finished" :key="`Finished_${index}`">
                <input type="text" class="box22" v-model="item.name">
                <img v-on:click="delToDo(index, 'finished')" src="./img/mark_batsu.png" alt="x" class="img">
              </li>
            </draggable>
        </div>
      </div> 
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.23.2/vuedraggable.umd.min.js"></script>
  <script src="contents.js"></script>
</body>
</html>